html {
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: .3em;
}

.berry {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.berry li {
  display: inline-block;
  padding:
}

.berry a {
  padding: 8px;
  background-color: #b2a212;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 1.125rem;
  font-family: georgia;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  font-size: 1.875rem;
  text-align: left;
}

p {
  font-family: Georgia;
  font-size: 1rem;
  margin-bottom: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding-bottom: 1em;
}

body {
  margin: 0;
}

main {
  padding:.7em;
  padding-top: 0;
}

img {
  width: 100%;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;
  font-size: .75em;
}

nav li a:hover {
  background-color: #cc1465;
}

nav .current {
  background-color: #cc1465;
}

*, *::before, *::after {
  box-sizing: inherit;
}
