html {
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  color: #cc1465;
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.berry {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.berry li {
  display: inline-block;
  padding:
}

.berry a {
  padding: 10px;
  background-color: #2f2d13;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  font-size: 1.875rem;
  text-align: left;
}

p {
  font: Georgia;
  font-size: 1.125rem;
}

header {
  background-color: #ffe500;
  margin: .3em;
  padding-bottom: 1em;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;
}

nav li a:hover {
  background-color: #cc1465;
}

nav .current {
  background-color: #cc1465;
}

*, *::before, *::after {
  box-sizing: inherit;
}
